/* -- Самая верхняя надпись -- */
.mr_head {
  color: white;
  width: 100%;
  position: absolute;
}

.mr_head i {
  font-size: 1.5em;
}
.mr_head p {
  text-align: center; 
  vertical-align: middle;
}
.mr_head .title-head {
  height: 45px;
  display: table;
}
.mr_head .p-full-head {
  display: table-cell;
}
.mr_head .p-1080-head {
  display: none;
}

@media (max-width: 1080px){
  .mr_head .p-full-head {
    display: none;
  }
  .mr_head .p-1080-head {
    display: table-cell;
  }
}
@media (max-width: 768px){
  .mr_head {
    display: none;
  }
} /* // -- Самая верхняя надпись -- */

/* Приправы оврщи соки */
.mr_vegetables_grid1_bottom_pos {
  position: absolute;
  top: 0;
  margin: 10px 0 0 10px;
}
.mr_vegetables_grid1_bottom_pos p {
  text-shadow: -4px -4px 2px rgba(195, 207, 218, 1);
  text-align: center;
  font-size: 1.3em !important;
  color: orange;
  font-weight: bold;
  text-transform:uppercase;
}
.mr_vegetables_grid1_bottom_pos span {
  color: green;
}
.mr_vegetables_grid1_bottom_pos small {
  color: red;
}
/* //Fix первого по счету банера */

/* Доставка */
.w3ls_service_grids1_right ul {
  margin: 1.2em 0 0;
}
.w3ls_service_grids1_right li:before {
  color: #97D13F;
  content: "\f178\00a0" !important;
  font-family: FontAwesome !important;

}
.w3ls_service_grid_left span {
  color: red;
}
.w3ls_service_grid_left strong {
  text-transform: uppercase;
  color: black;
}
/* //Доставка */


/* -- Витрина -- */
.vitrina {
  margin: 30px auto 30px 0px !important;
  background-image: none !important;
  padding: 0 !important;
}
.top-brands {
  background: url(/assets/backfon.jpg);
}
.top-brands-vitrina {
  padding: 0px 0px 50px 0px !important;
}
.top-brands .col-md-2 {
  margin-top: 1.2em;
}
.top-brands .col-md-2 div,.top-brands .col-md-2 div {
  background-color: #84C639;
}
.top-brands .col-md-2 div:hover,.top-brands .col-md-2 div:focus {
  background-color: #F5F5F5;
  cursor: pointer;
}
.fresh-vegetables h3, .top-brands h3 {
  font-weight: bold;
  
  text-transform: uppercase;
}
.top-brands h4 {
  font-weight: bold;
}
.top-brands a {
  color: black;
}
.top-brands a:hover, .top-brands a:focus {
  color: #384D15;
}
.top-brands img {
  margin-left: 20%;
}
.about_counter_left span {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: bold;
}
.w33 {
  height: 25px;
}
.vtvt {
  margin-bottom: 15px;
}
@media (max-width: 1080px){
  .top-brands h4 {
    font-size: 1.2em;
  }
}
@media (max-width: 1024px){
  .top-brands h4 {
    font-size: 1.2em;
  }
}
@media (max-width: 568px){
  .top-brands h4 {
    font-size: 1.0em;
  }
}
@media (max-width: 320px){
  .top-brands h4 {
    font-size: 13px;
  }
} 
/* // -- Витрина -- */

/* -- Спецпредложения -- */
.special {
  top: 0px;
  margin-top: -70px;
}
@media (max-width: 768px){
  .special {
    top: 0px;
    margin-top: 0px;
  }
}

.events_bottom_left1_grid div {
  position: absolute;
  margin: 0 0 0 3px;
  padding: 0;
}

.alert-success {
  width: 100%;
}
.alert-success i {
  color: #FA1822;
}
.spec_super {
  margin: 10px 0 0 10px;
  padding: 0 0 0 0;
  position:absolute;
  min-width: 274px;
  width: 25%;

  .alert-success {
    background-color: rgba(223,240,216, 0.7);
  }
}

@media (max-width: 568px){
  .spec_super {
    margin: 3px 0 0 10px;
  }
}

/* //-- Спецпредложения -- */

/* -- Боковое меню -- */
#bs-megadropdown-tabs .set-meat-li {
  background-color: #F9EAB0;
}
.w3ls_vegetables li {
  white-space: nowrap;
  padding-bottom: 7px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.w3ls_vegetables li a:before {
  color: #97D13F;
  content: "\f178";
  font-family: FontAwesome;
}
/* // -- Боковое меню -- */

/* -- Фермеры и бизнес -- */
.vtvt, .farmers, .business, .job {
  .text-center {
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
  }
  img {
    border-radius: 4px;
    border: 1px solid #F5F5F5;
  }
  b {
    color: #E22623;
  }
  .well {
    margin-top: 20px;
  }
  small {
    text-decoration: underline;
  }
  .fa {
    color: #E22623;
  }
  .w3ls_service_grid_left {
    margin-bottom: 50px;
  }
  li {
    list-style: none;
  }
  li:before {
    color: #97D13F;
    content: "\f178\00a0" !important;
    font-family: FontAwesome !important;
  }
}
/* // -- Фермеры-- */

